<!DOCTYPE html>
<html>
<head>
  <title>셰프의 라면</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>

<body style="height:100%;">

<form name="loginForm" id="loginForm" action="/login" method="post" style="width:100%; height:100%;">

  <input type="hidden" name="id_portal" value="P000001" />
  <div class="login-wrap">
    <div class="center" style="height: 227px;">
      <h1 class="logo-login ir">셰프의 라면</h1>
      <div id="woowa" class="tab-content">
        <button class="btn btn-impt" type="submit" id="googlebtnSubmit">google 계정 로그인</button>
        <p class="add">구글 계정으로 로그인하시기 바랍니다.</p>
      </div>
    </div>
  </div>

  <footer class="main-footer">
    <small class="copyright">Copyright ⓒ <em>Woowa Brothers Corp</em>  All rights Reserved.</small>
  </footer>
</form>
</body>
</html>
