body {
    background-image: linear-gradient(135deg, #8eaaff, #80ff84);
}
.headline {
    line-height: 130%;
}
.thin {
    font-weight: 200;
}
.card .card-title {
    font-size: 36px;
    color: #222 !important;
    line-height: 120%;
}
.time {
    font-weight: 200;
    color: white;
    background-color: #222;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.warning {
    font-size: 22px;
    font-weight: 200;
    color: white;
    background-color: crimson;
    padding: 6px;
}
.card .card-title .time .type {
    font-size: 16px;
}
.card .card-title .num-order  {
    font-weight: bold;
    color: #222;
}
.card .card-title .current {
    color: white;
    font-weight: bold;
    font-size: 26px;
}
.card-content {
    color: #888;
    font-weight: 200;
}
.min {
    font-size: 16px;
}
.cancel.order {
    display: none;
}

.collection-item {
  transition: background-color 1s;
}

.blink {
  transition: background-color 1s;
  background-color: rgba(255,0,177,0.7) !important;
}

.menu {
  font-size: 20px;
}

.menu.order-count {
  text-align: right;
  font-size: 24px;
}

.card-action.action-container {
  border: none;
}

.push-button {
	position:relative;
  font-size: 13px;
	color:#FFF;
	display:inline-block;
	text-decoration:none;
	text-align:center;
	padding:5px 10px;

	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;

}

.push-button.large {
  width: 90%;
}

.push-button.blue {
  border:solid 1px #0090d4;
  background:#00adff;

  -webkit-box-shadow: 0px 4px 0px #0076ae;
  -moz-box-shadow: 0px 4px 0px #0076ae;
  box-shadow: 0px 4px 0px #0076ae;
}

.push-button.yello {
  border:solid 1px #D94E3B;
  background:#cb3b27;

  -webkit-box-shadow: 0px 4px 0px #84261a;
  -moz-box-shadow: 0px 4px 0px #84261a;
  box-shadow: 0px 4px 0px #84261a;
}

.push-button.red {
  border:solid 1px #D94E3B;
	background:#cb3b27;

  -webkit-box-shadow: 0px 4px 0px #84261a;
  -moz-box-shadow: 0px 4px 0px #84261a;
  box-shadow: 0px 4px 0px #84261a;
}

.push-button:active{
    position:relative;
    top:3px;
}

.push-button.blue:active{
    -webkit-box-shadow: 0px 2px 0px #0076ae;
    -moz-box-shadow: 0px 2px 0px #0076ae;
    box-shadow: 0px 2px 0px #0076ae;
}

.push-button.yellow:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
}

.push-button.red:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
}
